
	/* CSS Code */
	/* Heading */
    body{
        
        background-color: rgb(216, 150, 233);
    }
	h1 {
		color: rgb(46, 6, 49);
		font-size: 45px;
	}

	/* 3*3 Grid */
	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 60px;
		height: 60px;
		margin: auto;
        margin-left: 10px;
		border: 3px solid rgb(44, 23, 54);
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
	}

	/* Reset Button */
	#but {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 1px solid rgb(94, 34, 89);
		margin: auto;
		border-radius: 4px;
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		background-color: rgb(53, 18, 51);
		color: rgb(254, 250, 255);
		font-size: 20px;
		cursor: pointer;
	}

	/* Player turn space */
	#print {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		color: rgb(49, 6, 58);
		font-size: 20px;
	}

	/* Main Container */
	#main {
		text-align: center;
	}

	/* Game Instruction Text */
	#ins {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;
			
		color: rgb(255, 255, 255);
		font-size: 17px;
	}

